#convert-btn {
  border: 0 solid var(--primary);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 800;
  margin-bottom: 10px;
  -webkit-mask-image: -webkit-radial-gradient(var(--primary), var(--contrast));
  mask-image: -webkit-radial-gradient(var(--primary), var(--contrast));
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 2rem;
  position: relative;
  width: 90%;
}

body.light-mode #convert-btn {
  background-color: #fff;
  color: #000;
}

body:not(.light-mode) #convert-btn span {
  mix-blend-mode: difference;
}

#convert-btn:after,
#convert-btn:before {
  background: linear-gradient(
    90deg,
    var(--primary) 25%,
    transparent 0,
    transparent 50%,
    var(--primary) 0,
    var(--primary) 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.25s ease-in-out;
}

#convert-btn:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    var(--primary) 0,
    var(--primary) 50%,
    transparent 0,
    transparent 75%,
    var(--primary) 0
  );
  z-index: -1;
}

body:not(.light-mode) #convert-btn:hover:after,
body:not(.light-mode) #convert-btn:hover:before {
  --progress: 0;
}
